# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
# *.sublime-project

# sftp configuration file
sftp-config.json

lib/
# PyInstaller
# Django stuff:
# PyBuilder
.apdisk
# OSX
*.egg
Thumbs.db
# Folder config file
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
parts/
# Windows Installer files
# Files that might appear on external disk
*.log
coverage.xml
.LSOverride
dist/
# Byte-compiled / optimized / DLL files
# Windows image file caches
.DS_Store
# =========================
.installed.cfg
*.manifest
nosetests.xml
docs/_build/
*.pot
.Python
#  Usually these files are written by a python script from a template
*.spec
.cache
.AppleDB
# Distribution / packaging
# Thumbnails
Temporary Items
downloads/
*.cab
sdist/
$RECYCLE.BIN/
*.py[cod]
build/
.coverage
*.egg-info/
.AppleDesktop
# C extensions
pip-delete-this-directory.txt
# Sphinx documentation
develop-eggs/
htmlcov/
# Translations
pip-log.txt
# Installer logs
# Directories potentially created on remote AFP share
target/
# Unit test / coverage reports
lib64/
*.csv
*.sublime-project
*.sublime-workspace
Network Trash Folder
eggs/
.Trashes
*.so
__pycache__/
*.msi
.tox/
*.lnk
# Windows
Desktop.ini
.Spotlight-V100
*.msm
.AppleDouble
env/
._*
var/
# Windows shortcuts
# Operating System Files
*.msp
ehthumbs.db
*.mo
# Recycle Bin used on file shares
*.sublime-project
*.sublime-workspace
*.sublime-project
Python CVW GUI.ipynb
*.png